@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #02060a;
    --cor-secundaria: #8FBDD3 ;
    --cor-terciaria: #35767b; 
    --cor-hover:#496766;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; seria para usar a tela todo*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    width: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex; /*vai colocar todos em uma fila*/
    align-items: center;  /*vai colocar todos no centro na horizontal*/
    justify-content: space-between; /*espaço entre os filhos*/ 
    gap: 82px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column; /*defini a direção do alinhamento como vertical*/
    gap: 40px; /*coloca o espaço entre eles*/
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*usando a unidade de medida rem, quando a unidade de medida do navegador for alterada vamos acompanhar esse mudança também*/
    font-family: var(--fonte-secundaria);   
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links { /*vai apenas dividir os botões*/
    display: flex;
    flex-direction: column; /*coloca tudo na vertical*/
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex; /*vai colocar todos em uma fila*/
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); /*2 px é a expessura da borda*/
    width: 50%; /*largura do "retângulo"*/
    text-align: center;
    border-radius: 8px; /*curvatura da borda*/
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*distância entre a borda e o conteúdo*/
    text-decoration: none; /*tirar decoração (nesse caso vai ser a linha sublinhada)*/
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    /*padding: 3%;*/
}

.apresentacao__imagem {
    width: 35%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px; /*espaço entre o conteúdo e as bordas do botão*/
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    width: 400;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse; /*reverse vai colocar na ordem inversa*/
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}


/* Anotações
 - Página responsíva: capacidade de se adequar independente do dispositivo que está abrindo
 - CSS media queries: mudar algo depois de uma determinada medida

 */ 